body{
    text-align: center;
}

header{
    margin-bottom: -15px;
}

#main{
    border: solid;
}

#title{
   /* border: solid; */
    font-size: 100px;
    margin: -10px 0 -25px 0;
}
#undertitle{
    
    margin-bottom: 25px;
}

#img-div{
    width: 100%;
    height: auto;
}

#img-caption{
    font-style: italic;
    margin-top: -2%;
}

img{
    max-width: 75%;
    height: auto;
}

hr {
    border: 3px solid;
}

